In [1]:
# import libraries
import numpy as np
import pandas as pd
import operator
from sklearn.cross_validation import train_test_split

/home/shreeranga/PP/Exp/venvs/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
# Load the iris data
df = pd.read_csv('iris.csv')

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [5]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [7]:
def euclideanDistance(instance1, instance2, length):
    distance = 0
    for i in xrange(length):
        distance += (instance1[i] - instance2[i]) ** 2
    return (distance ** 0.5) # or use np.sqrt/math.sqrt

In [8]:
a = [1,2]
b = [2,3]
print euclideanDistance(a,b,2)

1.41421356237

In [9]:
# Let's get the k number of smallest neighbors for 
# the test set
def getNeighbors(trainingSet, testInstance, k):
    distances = []
    length = len(testInstance) - 1
    for x in range(len(trainingSet)):
        dist = euclideanDistance(testInstance, trainingSet[x], length)
        distances.append((trainingSet[x], dist))
    distances = sorted(distances, key= lambda dist:dist[1])
    neighbors = []
    for x in range(k):
        neighbors.append(distances[x][0])
    return neighbors

In [10]:
# Let's test the above function
trainingSet = [[2,2,2,'a'], [4,4,4,'b']]
testInstance = [5,5,5]
k = 1
neighbors = getNeighbors(trainingSet, testInstance, k)
print(neighbors)

[[4, 4, 4, 'b']]

In [11]:
# Response
def getResponse(neighbors):
    classVotes = {}
    for x in range(len(neighbors)):
        response = neighbors[x][-1]
        if response in classVotes:
            classVotes[response] += 1
        else:
            classVotes[response] = 1
    sortedVotes = sorted(classVotes.iteritems(), key=operator.itemgetter(1), reverse=True)
    return sortedVotes[0][0]

In [12]:
neighbors = [[1,1,1,'a'], [2,2,2,'a'], [3,3,3,'b']]
response = getResponse(neighbors)
print(response)

a

In [13]:
# Accuracy
# Ratio of correcect predictions and all the predictions made.
# Easy but not very good
def getAccuracy(testSet, predictions):
    correct = 0
    for x in range(len(testSet)):
        if testSet[x][-1] == predictions[x]:
            correct += 1
    return (correct / float(len(testSet))) * 100.0

In [14]:
testSet = [[1,1,1,'a'], [2,2,2,'a'], [3,3,3,'b']]
predictions = ['a', 'a', 'a']
accuracy = getAccuracy(testSet, predictions)
print(accuracy)

66.6666666667

In [15]:
X = df
y = X.pop("species")
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
trainingSet = pd.concat([X_train, y_train], axis=1)
testSet = pd.concat([X_test, y_test], axis=1)
testSet.head()

     sepal_length  sepal_width  petal_length  petal_width     species
106           4.9          2.5           4.5          1.7   virginica
27            5.2          3.5           1.5          0.2      setosa
108           6.7          2.5           5.8          1.8   virginica
61            5.9          3.0           4.2          1.5  versicolor
64            5.6          2.9           3.6          1.3  versicolor

In [16]:
# # # k = 3
# k = 3
# predictions = []
# for x in range(len(testSet)):
#     neighbors = getNeighbors(trainingSet, testSet[x], k)
#     result = getResponse(neighbors)
#     predictions.append(result)
#     print('>' + 'Predicted={}'.format(result) + ',' + 'Actual:{}'.format(testSet[x][-1]))
# accuracy = getAccuracy(testSet, predictions)
# print('Accuracy: {}'.format(accuracy))

In [17]:
# Todo 
# pass data into methods pandas style